@charset "utf-8";
/* CSS Document */


html{
  width:2560px;
  height:1440px;
  overflow-x:hidden;
  font-family:微軟正黑體;
  font-weight:bold;
  font-size:14px;}
.pic{
  width:100%; 
  height:100%;
  overflow:hidden;
}
.pic img{
  margin-left:px;}
/*圖片位置*/

a{
  color:Aquamarine;
}

.chair{
  top:658px;
  left:195px;  
}

.hover1{
  top:8px;
  left:380px}
.hover1 img{
  width:100%;}
.hover1{
  transform:scale(1,1);
  transition: all 0.5s ease-out;}
.hover1:hover{transform:scale(1.1,1.1);}
.our{
  position:absolute;
  width:280px;
  height:150px;
  margin-left:60px;
  margin-top:-390px;
  list-style:none;
  visibility:hidden;
  background-color: rgba(255,255,255,0.2);
  font-size:5em;
}
.hover1:hover .our {visibility:visible;}
.our li:hover{
  width:240px;
  height:150px;
  background-color:rgba(255,255,255,0.2);
}
/*推薦產品位置*/

.hover2{
  top:427px;
  left:46px}
.hover2 img{
  width:100%;}
.hover2{
  transform:scale(1,1);
  transition: all 0.5s ease-out;}
.hover2:hover{transform:scale(1.1,1.1);}
.our2{
  position:absolute;
  width:200px;
  height:150px;
  margin-left:0px;
  margin-top:-210px;
  list-style:none;
  visibility:hidden;
  background-color: rgba(255,255,255,0.2);
  font-size:5em;
}
.hover2:hover .our2 {visibility:visible;}
.our2 li:hover{
  width:150px;
  height:150px;
  background-color:rgba(255,255,255,0.2);
}

.hover3{
  top:772px;
  left:294px}
.hover3 img{
  width:100%;}
.hover3{
  transform:scale(1,1);
  transition: all 0.5s ease-out;}
.hover3:hover{transform:scale(1.1,1.1);}
.our3{
  position:absolute;
  width:200px;
  height:150px;
  margin-left:0px;
  margin-top:-200px;
  list-style:none;
  visibility:hidden;
  background-color: rgba(255,255,255,0.2);
  font-size:5em;
}
.hover3:hover .our3 {visibility:visible;}
.our3 li:hover{
  width:150px;
  height:150px;
  background-color:rgba(255,255,255,0.2);
}

.hover4{
  top:1012px;
  left:545px}
.hover4 img{
  width:100%;}
.hover4{
  transform:scale(1,1);
  transition: all 0.5s ease-out;}
.hover4:hover{transform:scale(1.1,1.1);}
.our4{
  position:absolute;
  width:240px;
  height:150px;
  margin-left:-70px;
  margin-top:-20px;
  list-style:none;
  visibility:hidden;
  background-color: rgba(255,255,255,0.2);
  font-size:5em;
}
.hover4:hover .our4 {visibility:visible;}
.our4 li:hover{
  width:200px;
  height:150px;
  background-color:rgba(255,255,255,0.2);
}